<div class="container-fluid">
        <div class="row">
                <img [src]="dsintro">
        </div>
    </div>

    <div class="container-fluid whyds ">
<div class="row">
        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
            <p class="ds"><b>Statistical Features</b>
                Statistical features is probably the most used statistics concept in data science. It’s often the first stats technique you would apply when exploring a dataset and includes things like bias, variance, mean, median, percentiles, and many others. It’s all fairly easy to understand and implement in code! Check out the graphic below for an illustration.
                A box plot perfectly illustrates what we can do with basic statistical features:
                
                When the box plot is short it implies that much of your data points are similar, since there are many values in a small range
                When the box plot is tall it implies that much of your data points are quite different, since the values are spread over a wide range
                If the median value is closer to the bottom then we know that most of the data has lower values. If the median value is closer to the top then we know that most of the data has higher values. Basically, if the median line is not in the middle of the box then it is an indication of skewed data.
                Are the whiskers very long? That means your data has a high standard deviation and variance i.e the values are spread out and highly varying. If you have long whiskers on one side of the box but not the other, then your data may be highly varying only in one direction.
                </p>
        </div>

        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 videos"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/c27EwKNIanQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Statistics for Data Science 2018 Part 1 | Statistics Tutorial For Beginners | Data Science Tutorial</p>
          </div>
     
</div>
</div>
<div class="container-fluid">
        <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
                        <b>Probability & Statistics for Data Science (Series)</b>
                        o know how to learn statistics for data science, it's helpful to start by looking at how it will be used.

Let's take a look as some examples of real analyses or applications you might need to implement as a data scientist:

Experimental design: Your company is rolling out a new product line, but it sells through offline retail stores. You need to design an A/B test that controls for differences across geographies. You also need to estimate how many stores to pilot in for statistically significant results.
Regression modeling: Your company needs to better predict the demand of individual product lines in its stores. Under-stocking and over-stocking are both expensive. You consider building a series of regularized regression models.
Data transformation: You have multiple machine learning model candidates you're testing. Several of them assume specific probability distributions of input data, and you need to be able to identify them and either transform the input data appropriately or know when underlying assumptions can be relaxed.
A data scientist makes hundreds of decisions every day. They range from small ones like how to tune a model all the way up big ones like the team's R&D strategy.

Many of these decisions require a strong foundation in statistics and probability theory.

For example, data scientists often need to decide which results are believable and which are bullshit likely due to randomness. Plus, they need to know if there are pockets of interest that should be explored further.

These are central skills in analytical decision making (knowing how to calculate p-values is only scratching the surface).
                </div>
                <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/FmWz4deqo9g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
        </div>
</div>