
<div class="container-fluid">
    <div class="row">
            <img [src]="dsintro">
    </div>
</div>

<div class="container-fluid whyds ">
<div class="row">
        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
            <p class="ds"><b>Deep Learning</b>
                The term Data Science has emerged recently with the evolution of mathematical statistics and data analysis. The journey has been amazing, we have accomplished so much today in the field of Data Science.
                
                In the next few years, we will be able to predict the future as claimed by researchers from MIT. They already have reached a milestone in predicting the future, with their awesome research. They can now predict what will happen in the next scene of a movie, with their machine! How? Well it might be a little complex for you to understand as of now, but don’t worry by the end of this blog, you shall have an answer to that as well.
                
                Coming back, we were talking about Data Science, it is also known as data driven science, which makes use of scientific methods, processes and systems to extract knowledge or insights from data in various forms, i.e either structured or unstructured. 
                </p>
        </div>

        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 videos"> 
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7x2YZhEj9Dw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Deep Learning Tutorial with Python | Machine Learning with Neural Networks  | Tweak Talent </p>
          </div>
     
</div>
</div>
<div class="container-fluid">
        <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
                        <b>Python for Deep Learning</b>
                        It is a type of Artificial Intelligence that makes the computers capable of learning on their own i.e without explicitly being programmed. With machine learning, machines can update their own code, whenever they come across a new situation. 
                        
                        Concluding in this Data Science Tutorial, we now know Data Science is backed by Machine Learning and its algorithms for its analysis. How we do the analysis, where do we do it. Data Science further has some components which aids us in addressing all these questions.
                        
                        Before that let me answer how MIT can predict the future, because I think you guys might be able to relate it now. So, researchers in MIT trained their model with movies and the computers learnt how humans respond, or how do they act before doing an action.
                        
                        For example, when you are about shake hands with someone you take your hand out of your pocket, or maybe lean in on the person. Basically there is a “pre action” attached to every thing we do. The computer with the help of movies was trained on these “pre actions”. And by observing more and more movies, their computers were then able to predict what the character’s next action could be.
                        
                        
                        Easy ain’t it? Let me throw one more question at you then in this Data Science Tutorial! Which algorithm of Machine Learning they must have implemented in this?
                </div>
                <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yX8KuPZCAMo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       <p>TensorFlow Tutorial | Deep Learning Using TensorFlow | TensorFlow Tutorial Python |  Tweak Talent</p>
                    </div>
        </div>
</div>

