<div class="container-fluid">
    <div class="row">
            <img [src]="dsintro">
    </div>
</div>

<div class="container-fluid whyds ">
<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
        <p class="ds"><b>Deep Learning</b>
            Business analytics is a process of examining large sets of data and achieving hidden patterns, correlations and other insights. It basically helps you understand all the data that you have gathered, be it organisational data, market or product research data or any other kind of data. It becomes easy for you to make better decisions, better products, better marketing strategies etc. Refer to the below image for better understanding:
            If you look at the above figure, your data in the first image is scattered. Now, if you want something specific such as a particular record in a database, it becomes cumbersome. To simplify this, you need analysis. With analysis, it becomes easy to strike a correlation between the data. Once you have established what to do, it becomes quite easy for you to make decisions such as, which path you want to follow or in terms of business analytics, which path will lead to the betterment of your organization.
            
            But you can’t expect people in the chain above to always understand the raw data that you are providing them after analytics. So to overcome this gap, we have a concept of data visualization.
            Data visualization: Data visualization is a visual access to huge amounts of data that you have generated after analytics. The human mind processes visual images and visual graphics are more better than compare to raw data. Its always easy for us to understand a pie chart or a bar graph compare to raw numbers. Now you may be wondering how can you achieve this data visualization from the data you have already analyzed? 
            </p>
    </div>

    <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 videos"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wQ8BIBpya2k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Deep Learning with Python, TensorFlow, and Keras tutorial | Tweak Talent</p>
      </div>
 
</div>
</div>
<div class="container-fluid">
    <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
                Software, read it’s source code, modify it, etc.
               <b> Who uses R?</b>
                The Consumer Financial Protection Bureau uses R for data analysis
                Statisticians at John Deere use R for time series modeling and geospatial analysis in a reliable and reproducible way.
                Bank of America uses R for reporting.
                R is part of technology stack behind Foursquare’s famed recommendation engine.
                ANZ, the fourth largest bank in Australia, using R for credit risk analysis.
                Google uses R to predict Economic Activity.
                Mozilla, the foundation responsible for the Firefox web browser, uses R to visualize Web activity.
            </div>
            <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K5P-Ac31Hc4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Deep Learning from Scratch Using Python| Tweak Talent</p>
                </div>
    </div>
</div>