img{
    width:100%;
    margin-top: 56px;
    height: 450px;
}
.whyds{
    margin-top: 19px;
}
.whydsparagraph{
    word-break:break-all;
}

p{
    font-family: Noto Serif, geneva, sans-serif;
    font-size: 16px;
    color:	#4169E1;
}
 .ds{
    color:black;
}
