

<div class="container">
        <h1>Contact US</h1>
    <div class="row contactus">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                 
            <form [formGroup]="form" (ngSubmit)="getFormDetails(form)" >
                    
                    <div class="form-group">
                            <label for="userName"> Name</label>
                            <input type="text" id= "userName" class="form-control"  formControlName="userName" >
                            
                            <div class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
                    
                                    <div *ngIf="userName.errors.required">
                                             Name is required   
                                       </div>
                                    <div *ngIf="userName.errors.minlength">
                                            Name should be minimum of  3 characters..
                                       </div>
                            </div>
                            
                    </div>
                    
                    <div class="form-group">
                         <label for="password" >Email</label>
                         <input type="text" id="email" class="form-control"  formControlName="email">
                    
                         <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                             Email is required
                         </div>
                    </div>  
                
                    <div class="form-group">
                        <label for="password" >Contact No</label>
                        <input type="text" id="contactNo" class="form-control" formControlName="contactNo">
                   
                        <div class="alert alert-danger" *ngIf="contactNo.touched && contactNo.invalid">
                            Contact No  is required
                        </div>
                   </div>
                
                   
                   <div class="form-group">
                    <label for="password" >Comment</label>
                    <input type="text" id="comment" class="form-control"  formControlName="comment">
                
                    <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">
                        Comment  is required
                    </div>
                   </div>
                 
                    
                    <input type="button" class="btn btn-primary" type="submit">
                    
                    
                    </form>
            </div>
    </div>
   
</div>
