<div class="carousel slide">
    <ol class="carousel-indicators">
      <ng-container *ngFor="let img of ImagesList;let idx1=index">
          <li [class.active]="currentIndex==idx1" (click)="Load(currentIndex)"></li>
      </ng-container>
    </ol>
    
        <div class="carousel-inner">
            <ng-container *ngFor="let img of ImagesList; let idx2=index">
            <div class="carousel-item"  [class.active]="currentIndex==idx2">
                <img src="/assets/Images/banner/{{img}}" class="d-block w-100">
              </div>
            </ng-container>
            </div>
   
 
    
    <a class="carousel-control-prev" (click)="prevSlide()">
      <div class="circle prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </div>
    </a>
    <a class="carousel-control-next">
      <div class="circle next">
        <span class="carousel-control-next-icon" (click)="nextSlide()"></span>
        <span class="sr-only">Next</span>
      </div>
    </a>
  </div>