
<div class="container-fluid">
  <div class="row">
        <bigdata-img></bigdata-img>
</div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata"> 
          <img [src]="introduct"/>
            <a class="coursetitle">Introduction to data sciences </a>
       </div>
      
      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
        <img [src]="dsstatistics" class="statistics"/>
          Statistics
        </div>

        <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
            <img [src]="dsimplementation" class="implementation"/>
            <a class="coursetitle">  Understanding and implementing </a>
        </div>
  </div>
</div>
<div class="container rdata">
  <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata"> 
        <img [src]="dsRprog"/>
        <a class="coursetitle">  R programming basics </a>
      </div>

      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
        <img [src]="python"/>
        <a class="coursetitle">  Python for data science </a>
        </div>

        <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
            <img [src]="deepLearning"/>
            <a class="coursetitle">   Deep Learning </a>
          </div>
</div>
</div>


