.black-overlay {
    background: rgb(240, 24, 143);
    width: 100%;
    height: 70%;
    position:relative;
    display: block;
    margin-top:56px;
    margin-bottom:20px;
    margin-right:80px;
    }
.datascienceHeading{
    color: white;
    margin-top: 56px;
    margin-bottom: 307px;
    text-align: center;
    padding-top: 122px;
}


 .course-box-image{   display: block;
    margin: auto;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #EDEDED;
    width: 100%;
 }

 .divsdata{
    border:3px solid white;
    color: #476CC4;
 }

 .divsdata:hover{
    color:#FF5733;
    border: 3px solid palevioletred;
 }
 .coursetitle:hover{
    text-align:center;
    cursor: pointer;
 }
 
 img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
 }
 .implementation{
    width: 325px;
 }
 .rdata{
    margin-top: 24px;
 }
 .statistics{
    width: 159px;
 }








