<div class="container-fluid">
        <div class="row">
                <img [src]="dsintro">
        </div>
    </div>

    <div class="container-fluid whyds ">
<div class="row">
        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
            <p class="ds"><b>Statistical Features</b>
                <b>Understanding Data Science</b>
                Understand the Problem:
                Learn about the issue at ground, ask the right questions which is at the center of what a Data Scientist does and forms the foundation for the later stages of the Data Scientist’s role. Define the problem and convert it into a concrete framework which can then be worked upon.
               <b>Collect Enough Data</b>
                As the name implies the Data Scientist has to collect enough data in order to make sense of the problem at hand and get a better grip of the issue with respect to the time, money and resources needed to make the process successful.
                <b>Process the Raw </b>
                Data can rarely be used in its original form. It needs to be processed and various methods exist to convert it into a usable format. This is an essential part of every Data Scientist’s job routine and this consumes a major chunk of his time and resources.
                <b>Explore the Data</b>
                After the data has been processed and converted into a form that can then be used for the later stages, you need to explore it further so as to get the characteristics of the data and find out more about the obvious trends, correlation and the not so obvious hidden relationships and more.
                <b>Analyze the Data</b>
                This is where the magic happens. The data scientist deploys the various arsenals in his repository like machine learning, statistics and probability, linear and logistic regression, time-series analysis and more in order to make sense of the data. At the end of this step the Data Scientist would be able to gain valuable business insights like predictions, business process optimization, finding new ways of doing the same old things among other things.
                <b>Communicate the Results</b>
                At the end of the entire process there is a need to communicate the findings to the right stake-holders in order to get the groundwork done for the action to be taken and deployment of the decisions that are taken.
                </p>
        </div>

        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 videos"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mU4k0lTfeoM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Quick understanding on Data Science & Data Scientist|Tweak Talent</p>
          </div>
     
</div>
</div>
<div class="container-fluid">
        <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6 whydsparagraph"> 
                        As the world entered the era of big data, the need for its storage also grew. It was the main challenge and concern for the enterprise industries until 2010. The main focus was on building framework and solutions to store data. Now when Hadoop and other frameworks have successfully solved the problem of storage, the focus has shifted to the processing of this data. Data Science is the secret sauce here. All the ideas which you see in Hollywood sci-fi movies can actually turn into reality by Data Science. Data Science is the future of Artificial Intelligence. Therefore, it is very important to understand what is Data Science and how can it add value to your business.
                        
                        In this blog, I will be covering the following topics.
                        
                        The need for Data Science.
                        What is Data Science?
                        How is it different from Business Intelligence (BI) and Data Analysis?
                        The lifecycle of Data Science with the help of a use case.
                        By the end of this blog, you will be able to understand what is Data Science and its role in extracting meaningful insights from the complex and large sets of data all around us. To get in-depth knowledge on Data Science, you can enroll for live Data Science online course by Edureka with 24/7 support and lifetime access.
                </div>
                <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/aYZn1B3esQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>Data Science Methodology  - Business Understanding Concepts and Case Study</p>
                    </div>
        </div>
</div>