
<div class="container-fluid">
  <div class="row">
        <bigdata-img></bigdata-img>
</div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata"> 
          <img [src]="introduct"/>
            <a class="coursetitle" routerLink='/trainings/datascience/introduction'>Introduction to data sciences</a>
       </div>
      
      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
        <img [src]="dsstatistics" class="statistics"/>
        <a class="coursetitle" routerLink='/trainings/datascience/statistics'>  Statistics</a>
        
        </div>

        <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
            <img [src]="dsimplementation" class="implementation"/>
            <a class="coursetitle" routerLink='/trainings/datascience/understandandImplement'>  Understanding and implementing </a>
        </div>
  </div>
</div>
<div class="container rdata">
  <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata"> 
        <img [src]="dsRprog"/>
        <a class="coursetitle"  routerLink='/trainings/datascience/rprogramming'>  R programming basics </a>
      </div>

      <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
        <img [src]="python"/>
        <a class="coursetitle"  routerLink='/trainings/datascience/python'>  Python for data science </a>
        </div>

        <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4 divsdata">
            <img [src]="deepLearning"/>
            <a class="coursetitle"  routerLink='/trainings/datascience/deepLearning'>   Deep Learning </a>
          </div>
</div>
</div>


